version: '3.8'

services:
  model-inference:
    image: ${DOCKER_USERNAME}/damage-detection:latest
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    ports:
      - "5000:5000"
    environment:
      - HOST=0.0.0.0
      - PORT=5000
    restart: unless-stopped
    container_name: damage-detection-server
